<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sarang.univ.dreamee.dao.GbsDao" >

    <resultMap id="GbsMap" type="sarang.univ.dreamee.dto.Gbs">
        <id property="gbsId" column="gbs_id"/>
        <result property="leaderId" column="leader_id"/>
        <result property="saintId" column="saint_id"/>
        <result property="villageId" column="village_id"/>
        <result property="dateCreated" column="date_created"/>
        <result property="dateUpdated" column="date_updated"/>
        <result property="activeTerm" column="active_term"/>
    </resultMap>

    <resultMap id="AttJoinMap" type="sarang.univ.dreamee.response.type.SaintAtt">
        <result property="attId" column="att_id"/>
        <result property="worshipState" column="worship_state"/>
        <result property="attState" column="att_state"/>
        <result property="qtNumber" column="qt_number"/>
        <result property="dateCreated" column="date_created"/>
        <result property="dateUpdated" column="date_updated"/>

        <result property="leaderName" column="leader_name"/>

        <result property="villageName" column="village_name"/>

        <result property="leaderId" column="leader_id"/>

        <result property="saintName" column="saint_name"/>
    </resultMap>

    <sql id="GbsColumns">
        gbs_id,
        leader_id,
        saint_id,
        village_id,
        date_created,
        date_updated,
        active_term
    </sql>

    <sql id="AttJoinColumns">
        a.att_id,
        a.worship_state,
        a.att_state,
        a.qt_number,
        a.date_created,
        a.date_updated,
        c.name AS leader_name,
        a.saint_id,
        e.village_name,
        b.leader_id
    </sql>

    <sql id="GbsColumnsVariables">
        #{gbsId}
        #{leaderId},
        #{saintId},
        #{villageId},
        #{activeTerm}
    </sql>

    <select id="retrieveAllGbsLog" resultMap="GbsMap">
        SELECT
            <include refid="GbsColumns"/>
        FROM gbs_log
    </select>

    <select id="retrieveGbsList" resultMap="GbsMap">
        SELECT
            <include refid="GbsColumns"/>
        FROM gbs_log
        <where>
            <if test="leaderId != null">
                leader_id = #{leaderId}
            </if>
        </where>
    </select>

    <select id="retrieveGbsByLeaderId" resultMap="GbsMap">
        SELECT
            <include refid="GbsColumns"/>
        FROM gbs_log
        WHERE leader_id = #{leaderId}
    </select>

    <select id="retrieveGbsBySaintId" resultMap="GbsMap">
        SELECT
            <include refid="GbsColumns"/>
        FROM gbs_log
        WHERE saint_id = #{saintId}
    </select>

    <select id="retrieveGbsByVillageId" resultMap="GbsMap">
        SELECT
            <include refid="GbsColumns"/>
        FROM gbs_log
        WHERE village_id = #{villageId}
    </select>

    <select id="retrieveGbsBySaintNameAndLeaderName" resultMap="GbsMap">
        SELECT
            <include refid="GbsColumns"/>
        FROM gbs_log
        WHERE leader_id = #{leaderId} and saint_id = #{saintId}
    </select>

    <select id="retrieveGbsByLeaderIdAndSaintIdAndActiveTerm" resultMap="GbsMap">
        SELECT
            <include refid="GbsColumns"/>
        FROM gbs_log
        WHERE leader_id = #{leaderId}
          and active_term = #{activeTerm}
          and saint_id = #{saintId}
    </select>

    <select id="retrieveGbsByLeaderIdAndActiveTerm" resultMap="GbsMap">
        SELECT
            <include refid="GbsColumns"/>
        FROM gbs_log
        WHERE
              leader_id = #{leaderId}
              and active_term = #{activeTerm}
              <if test="isThisWeek != null">
                  <if test="isThisWeek = true">
                      and date_created BETWEEN DATE_ADD(NOW(),INTERVAL -1 WEEK ) AND NOW()
                  </if>
              </if>
    </select>

    <select id="retrieveGbsAttByLeaderIdAndActiveTerm" resultMap="AttJoinMap">
        SELECT
            *, a.name AS saint_name
        FROM
            saint a,
             (
                SELECT
                    <include refid="AttJoinColumns"/>
                FROM
                    attendance_log a,
                    leader b,
                    saint c,
                    gbs_log d,
                    village e
                WHERE
                    a.gbs_id = d.gbs_id
                    AND d.leader_id = b.leader_id
                    AND b.saint_id = c.saint_id
                    AND d.village_id = e.village_id
                    AND b.leader_id = #{leaderId}
                    AND d.active_term = #{activeTerm}
                    <if test="isThisWeek != null">
                        <if test="isThisWeek = true">
                            and d.date_created BETWEEN DATE_ADD(NOW(),INTERVAL -1 WEEK ) AND NOW()
                        </if>
                    </if>
            ) b
        WHERE
            a.saint_id = b.saint_id
    </select>

    <insert id="registerGbs" parameterType="sarang.univ.dreamee.dto.Gbs" useGeneratedKeys="true">
        INSERT INTO gbs_log (
            leader_id, saint_id, village_id, active_term
        ) VALUES (
            <include refid="GbsColumnsVariables"/>
        )
    </insert>

</mapper>