<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sarang.univ.dreamee.dao.LeaderDao" >

    <resultMap id="leaderMap" type="sarang.univ.dreamee.dto.Leader">
        <id property="leaderId" column="leader_id"/>
        <result property="saintId" column="saint_id"/>
        <result property="password" column="password"/>
        <result property="active" column="active"/>
        <result property="role" column="role"/>
        <result property="dateCreated" column="date_created"/>
        <result property="dateUpdated" column="date_updated"/>
        <result property="endDate" column="end_date"/>
    </resultMap>

    <resultMap id="leaderJoinMap" type="sarang.univ.dreamee.dto.LeaderDetail">
        <id property="leaderId" column="leader_id"/>
        <result property="saintId" column="saint_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="villageId" column="village_id"/>
        <result property="age" column="age"/>
        <result property="name" column="name"/>
        <result property="preChurch" column="pre_church"/>
        <result property="gender" column="gender"/>
        <result property="major" column="major"/>
        <result property="address" column="address"/>
        <result property="birthday" column="birthday"/>
        <result property="baptism" column="baptism"/>
        <result property="discipleTraining" column="disciple_training"/>

        <result property="active" column="active"/>
        <result property="role" column="role"/>
        <result property="dateCreated" column="date_created"/>
        <result property="dateUpdated" column="date_updated"/>
    </resultMap>

    <sql id="LeaderColumns">
        leader_id, saint_id, password, active, role, date_created, date_updated
    </sql>

    <select id="retrieveAllLeader" resultMap="leaderMap">
        select * from leader
    </select>

    <select id="retrieveLeader" resultMap="leaderMap">
        SELECT
            <include refid="LeaderColumns"/>
        FROM leader
        <where>
            <if test="leaderId != null">
                leader_id = #{leaderId}
            </if>
            <if test="saintId != null">
                AND saint_id = #{saintId}
            </if>
        </where>
    </select>

    <select id="retrieveLeaderList" resultMap="leaderJoinMap">
        SELECT
            a.leader_id, a.saint_id, a.active, a.role, a.date_created,
               b.dept_id, b.village_id, b.name, b.pre_church, b.age, b.gender,
               b.major, b.address, b.birthday, b.baptism, b.disciple_training
        FROM leader a, saint b
        WHERE
            a.saint_id = b.saint_id
            AND b.village_id = #{villageId}
            AND a.active = 'Y'
            <if test="roleCode != null">
                AND a.role = #{roleCode}
            </if>
    </select>

    <insert id="registerLeader" parameterType="sarang.univ.dreamee.dto.Leader" useGeneratedKeys="true">
        insert into leader (saint_id, password, active, role) values (#{saintId}, #{password}, #{active}, #{role})
    </insert>

</mapper>